$colorMain: #555;
$colorHeading: #333;
$colorOrange: #e67e22;
$colorOrangeSecondary: #eb984e;
$colorOrangeLight: #fae5d3;
$colorOrangeLighter: #fdf2e9;
$colorOrangeDark: #cf711f;
$colorOrangeVryDark: #45260a;
$colorWhite: #fff;
$colorGrayOne: #fdf2f9;
$colorGrayTwo: #999;
$colorGrayThree: #ddd;
$colorGrayFour: #6f6f6f;
$colorLime: #51cf66;
$colorLimeLighter: #94d82d;
$colorMustard: #ffd43b;
$colorPlaceholder: #aaa;
$colorFooter: #eee;
$colorFooterLink: #767676;