.columns {

    display: grid;

    &--hero {
        grid-template-columns: repeat(2, 1fr);

        @mixin mediumScreens {
            grid-template-columns: 1fr;
            padding: 0 5rem;
        }

        @mixin extraSmallScreens {
            padding: 0 2rem;
        }
    }

    &--span-2 {
        grid-template-columns: repeat(2, 1fr);

        @mixin extraSmallScreens {
            grid-template-columns: 1fr;
        }
    }

    &--span-3 {
        grid-template-columns: repeat(3, 1fr);

        @mixin smallScreens {
            grid-template-columns: repeat(2, 1fr);
        }

        @mixin extraSmallScreens {
            grid-template-columns: 1fr;
        }
    }

    &--span-4 {
        grid-template-columns: repeat(4, 1fr);

        @mixin smallScreens {
            grid-template-columns: repeat(2, 1fr);
        }

        @mixin extraSmallScreens {
            grid-template-columns: 1fr;
        }
    }

    &--testimonials {
        grid-template-columns: 55% 45%;

        @mixin mediumScreens {
            grid-template-columns: 1fr;
        }
    }

    &--mb-md {
        margin-bottom: 3rem;
    }

    &--align-center {
        align-items: center;
    }

    &--gap {
        column-gap: 4rem;
        row-gap: 6rem;

        @mixin largeScreens {
            column-gap: 3rem;
            row-gap: 4rem;
        }

        @mixin extraSmallScreens {
            row-gap: 3rem;
        }
    }

    &--footer {
        grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;

        @mixin smallScreens {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}