.page-section {

    &--hero {
        background-color: $colorOrangeLighter;
        padding: 3rem 0 6rem;

        @mixin extraSmallScreens {
            padding: 1.5rem 0 4rem;
        }
    }

    &--featured {
        padding: 3rem 0 2rem 0;
    }

    &--how {
        padding: 6rem 0;
    }
}