.page-section {

    &--hero {
        background-color: $colorOrangeLighter;
        padding: 3rem 0 6rem;

        @mixin extraSmallScreens {
            padding: 1.5rem 0 4rem;
        }
    }

    &--featured {
        padding: 3rem 0 2rem 0;
    }

    &--how,
    &--meals {
        padding: 6rem 0;
    }

    &--meals__all-recipes {
        font-size: 1.125rem;
        text-align: center;

        a {
            display: inline-block;
            text-decoration: none;
            color: $colorOrange;
            padding-bottom: 2px;
            border-bottom: 1px solid currentColor;
            transition: all 0.3s;

            &:hover,
            &:active {
                color: $colorOrangeDark;
                border-bottom-color: transparent;
            }
        }
    }

    &--testimonials {
        background-color: $colorOrangeLighter;
    }
}